@media screen and (max-width: 600px) {
  *{
  margin: 0;
  padding: 0;
  --f12: 12px;
  --f14: 14px;
  --f16: 16px;
  font-family: "Inter", sans-serif;
}
:root {
  --a1: 600 32px "Inter", sans-serif;
  --a12: 600 16px/1 "Inter", sans-serif;
  --a2: 500 13px/1.5 "Noto Sans TC", sans-serif;
  --a3: 400 11px/1.5 "Inter", sans-serif;
  --a4inter: 400 9px/1.5 "Inter", sans-serif;
  --a4mono: 400 9px/1.5 "Roboto Mono", monospace;
}
::-webkit-scrollbar {
  display: none;
}
  .fp{
  width: 100vw;
  height: 760px;
  display: flex;
  position: relative;
  color: var(--cc);
  }
.contact{
  display: none;
}
.app{
  z-index: 1100;
  display: flex;
  position: relative;
  width: 100vw;
  overflow: hidden;
  pointer-events: none;
}
.apptl{
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: top;
  height: 700px;
  width: 100vw;
  color: var(--dd);
  overflow: hidden;
  pointer-events: none;
}
.appfp{
  display: flex;
  flex-direction: column;
  padding: 32px var(--wid);
  position: relative;
  color: rgb(182, 185, 169);
  gap: 8px;
}
.appfp1 h4{
  font: var(--a1);
  font-family: "Sirivennela", sans-serif;
}
.appfp1 p{
  width: 50%;
  font: var(--a4mono);
}
.appfp .space {
  display: inline-block;
  width: 3px;
  font: var(--a4mono);
}
.appfp2, .appfp3{
  width: 50%;
  font: var(--a4mono);
}
#tree{
  z-index: 1001;
  display: flex;
  position: absolute;
  height: 100%;
  transform: translate(-1%, -1%);
  /* left: 80%; */

  pointer-events: none;
}
.tree{
  display: flex;
  position: absolute;
  height: 100%;
  fill: rgba(243, 243, 240, .8);
  stroke: #B0CCA2;
  stroke-width: 1px;
  opacity: 0;
}
.apps{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100vw;
  overflow: hidden;
  z-index: 999 !important;
}
.root{
  display: flex;
  position: absolute;
  height: 100px;
  width: 99%;
  fill: var(--bb);
  filter: blur(35px);
  transform: scaleX(2.3);
  will-change: transform;
  /* margin-bottom: 10vh; */
  bottom: 120px;
}
.apptop, .appbot{
  display: flex;
  position: relative;
  height: 100%;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  font: var(--a4mono);
  overflow: visible;
  color: var(--aa);
}
.draggable {
  z-index: 999 !important;
  position: absolute;
  display: flex;
  padding: 6px 10px;
  background: var(--bb);
  color: var(--cc);
  cursor: grab;
  user-select: none;
  border-radius: 25px;
  white-space: nowrap;
  font-family: "Roboto Mono", monospace;
  pointer-events: auto;
}
.draggable:active {
  cursor: grabbing;
}
.p2{
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100vw;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 40px 0;
}
.p21{
  display: flex;
  flex-direction: column;
  position: relative;
  width: var(--width);
  color: var(--dd);
  font-weight: 400;
  height: 400px;
}
.p21w{
  display: flex;
  flex-direction: column;
  font-size: var(--h2);
  letter-spacing: .1rem;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: var(--dd);
  margin-top: var(--wid);
  gap: 15px;
}
.mew1{
  display: flex;
  position: relative;
  align-items: center;
  letter-spacing: 1px;
  align-items: center;
  height: 45px;
  overflow: hidden;
  color: var(--cc);
  font: var(--a1);
  /* border: 1px solid red; */
}
.mew2{
  display: flex;
  position: relative;
  letter-spacing: .5px;
  height: 40px;
  /* border: 1px solid green; */
  color: var(--cc);
  font: var(--a4inter);
}
.chur{
  display: flex;
  position: relative;
  height: 320px;
  width: 100%;
  overflow: hidden;
  justify-content: end;
  align-items: end;
  clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
}
.chupic{
  display: flex;
  position: relative;
  height: 100%;
  width: 45%;
  background-size: cover;
  justify-content: center;
  align-items: center;
}
.chupic img{
  height: 80%;
  width: 100%;
  object-fit: cover;
}
.p22{
  display: flex;
  position: relative;
  height: 100%;
  font-weight: 500;
  width: var(--width);
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
.p22w{
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  gap: 50px;
}
.p221, .p222, .p223, .p224{
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: var(--cc);
  font-size: 20px;
}
.amw1, .p222w1, .p223w, .p224w{
  letter-spacing: .5px;
  /* border: 1px solid blue; */
  font: var(--a3);
}
.aboutme{
  position: relative;
  display: block;
  height: 12px;
  font-size: 13px !important;
  letter-spacing: .5px;
  font: var(--a2);
  /* border: 1px solid orange; */
}
.p222w{
  display: flex;
  width: 100%;
}
.p222w1{
  display: grid;
  grid-auto-flow: column; /* 這行決定：由上到下再往右 */
  grid-template-rows: repeat(5, auto); /* 每欄 3 個 */
  grid-template-columns: 33.2%;
  width: 100%;
  overflow: hidden;
}
.p224w{
  display: grid;
  grid-auto-flow: column; /* 這行決定：由上到下再往右 */
  grid-template-rows: repeat(3, auto); /* 每欄 3 個 */
  grid-template-columns: 33.2%;
  width: 100%;
  /* gap: .7rem; */
  overflow: hidden;
}
.p23{
  display: flex;
  position: relative;
  width: var(--width);
}
.p23w{
  height: 160px;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: end;
  gap: 8px;
}
.p23ww{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  color: var(--cc);
  text-align: center;
  cursor: pointer;
  transform-origin: center center;
  overflow: visible;
  font: var(--a4mono);
}
.p23ww p{
  display: flex;
  height: 100%;
  width: 90px;
  padding: 10px 15px;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  background-color: var(--bb);
  transition: all 0.6s ease;
  font-family: "Roboto Mono", monospace;
}
.aboutme{
  display: flex;
  position: relative;
  height: 100%;
  width: 20%;
  color: var(--ee);
  font-size: var(--f12);
}
#page-layer {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: var(--dd);
  pointer-events: none;
  opacity: 0;
  z-index: 9999;
}

#page-layer.enter, #page-layer.leave {
  pointer-events: auto;
}

#page-layer.enter {
  opacity: 1;
}

#page-layer.leave {
  opacity: 0;
}

.p2-3no{
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100vw;
  align-items: center;
  justify-content: start;
  overflow: hidden;
  padding: 20px 0 0 0;
}
.p2-3other{
  display: flex;
  position: relative;
  width: 100vw;
  text-align: end;
  justify-content: end;
}
.other1{
  width: var(--width);
  display: flex;
  position: relative;
}
.other1 p{
  position: relative;
  display: inline;
  position: relative;
  word-break: keep-all;
  line-height: 1.5;
  color: var(--bb);
  font-size: 30px;
  font-weight: bolder;
  font-family: "Inter", sans-serif;
}
.p3 {
  display: flex;
  flex-direction: column;
  height: 760px;
  width: 100vw;
  justify-content: right;
  align-items: center;
  user-select: none;
  font-family: "Noto Sans TC", sans-serif
}
.view{
  position: relative;
  display: flex;
  width: var(--width);
  height: 30%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
.textdisplay{
  display: flex;
  position: relative;
  width: 100%;
  height: 27%;
  justify-content: start;
  align-items: start;
  z-index: 1000;
  opacity: 1 !important;
  color: var(--cc);
  margin-top: 5%;
}
.textdisplay p {
  letter-spacing: .5px;
  z-index: 1000;
  opacity: 1;
  will-change: transform, opacity;
  /* border: 1px solid blue; */
  font: var(--a3);
  letter-spacing: .5px;
}
.sp{
  height: 50px;
  position: relative;
  display: flex;
  width: 100%;
}
.p3title{
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: end;
  align-items: start;
  overflow: hidden;
}
.p3t1{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  height: 85px;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: var(--cc);
  align-items: center;
  gap: 0 10px;
  letter-spacing: 1px;
  font: var(--a1);
  /* border: 1px solid red; */
}
.p3t1up{
  display: inline-flex;
  height: 50%;
  align-items: center;
}

/* 第一個元素占滿一整行 ⭐ */
.p3t1up:first-child {
  width: 100%;
  line-height: 1;
}
.p3t1up p{
  transform: translateY(0%);
  /* opacity: 0; */
}
.p3t2{
  display: flex;
  position: relative;
  letter-spacing: .5px;
  color: var(--cc);
  width: 95%;
  padding: 15px 0 15px 0;
  align-items: start;
  justify-content: start;
  /* border: 1px solid green; */
  font: var(--a4inter);
}
.p3t2up{
  display: flex;
  position: relative;
  height: auto;
}
.p31 {
  display: flex;
  position: relative;
  overflow-y: hidden;
  overflow-x: auto; 
  scroll-snap-type: x mandatory; 
  width: calc(100% - var(--wid));
  height: 60%;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  gap: 10px;
  margin-left: calc(var(--wid));
}
.p31::-webkit-scrollbar {
  display: none;
}
.item:first-child {
  display: none;
}
.item7{
  display: flex;
  position: relative;
  background-color: var(--bb);
  width: 7vw !important;
  height: 100%;
  align-items: center;
}
.in7{
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
  align-items: center;
}
.item7 .in77{
  display: flex;
  position: relative;
  width: 7vw;
  align-items: center;
  height: 100% !important;
}
.in77 span{
  transform: rotate(180deg);
  color: var(--cc);
}
.item {
  flex-shrink: 0;
  width: 90%;
  height: 100%;
  display: flex;
  position: static;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  overflow-y: hidden;
  background-color: var(--bb);
  border-radius: 1rem;
}
.item.active .hpic{
  opacity: 0;
  z-index: 1;
  transition: all 0.3s ease 1s;
}
.hhome{
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 100vw;
  justify-content: start;
  align-items: start;
  padding: 1.5rem;
}
.flex{
  display: flex;
  position: relative;
  height: 10%;
  width: 100%;
  gap: .5rem;
  justify-content: end;
  align-items: center;
  margin-top: 2vh;
}
.num{
  display: flex;
  position: relative;
  height: 100%;
  justify-content: end;
  align-items: end;
  color: var(--cc);
  font-size: 24px;
  font-weight: 900;
  overflow: hidden;
  opacity: .7;
  /* border: 1px solid black; */
}
.num h2{
  display: flex;
  padding: 0;
}
.time{
  display: flex;
  position: relative;
  height: 70%;
  justify-content: end;
  align-items: end;
}
.time h6{
  color: var(--cc);
  opacity: .7;
  font: var(--a4mono);
  /* border: 1px solid greenyellow; */
}
.name{
  display: flex;
  position: relative;
  height: 7%;
  width: 100%;
  justify-content: end;
  align-items: center;
  margin: 2% 0;
  color: var(--cc);
  /* border: 1px solid orangered; */
}
.name h2{
  letter-spacing: .5px;
  font: var(--a12);
}
.meterial{
  display: flex;
  position: relative;
  height: 27px;
  width: 100%;
  justify-content: end;
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  gap: 6px; 
}
.meterial p{
  border: 1px solid var(--cc);
  border-radius: 30px;
  padding: 4px 10px;
  color: var(--cc);
  white-space: nowrap;
  font-weight: 400;
  letter-spacing: .3px;
  font: var(--a4mono);
    font-family: "Roboto Mono", monospace;
}
.color{
  border-radius: 2rem;
  color: var(--aa) !important;
  background-color: var(--cc) !important;
  white-space: nowrap;
  border: none !important;
}
.hpic{
  z-index: 1;
  display: flex;
  position: relative;
  height: 35%;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  transition: opacity 0.5s ease;
}
#overlay {
  position: absolute;
  width: 43.4vw;
  height: 45vh;
  bottom: 0;
  top: 50%;
  pointer-events: none;
  z-index: 999;
  background-color: #525452;
}

.hpic-carousel {
  z-index: 9999;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  transition: clip-path 0.7s ease;
}

.hpic .slide {
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 0.5s;
}
.hpic .slide.active {
  opacity: 1;
}
.hpic-carousel .slide {
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 0.5s;
}
.hpic-carousel .slide.active {
  opacity: 1;
}

.opacity1{
  opacity: 1;
  transition: opacity 0.5s ease;
}
.hpic-clone {
  object-fit: cover;
  left: 0%;
  pointer-events: none;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  transition: clip-path 0.7s ease;
  background-size: cover;
  background-position: center;
}
.close {
  clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
}
.close2{
  clip-path: polygon(0% 0%, 0% 0%, 0% 0%, 0% 0%);
}

.p4{
  display: flex;
  flex-direction: column;
  position: relative;
  height: 1800px;
  width: 100vw;
  justify-content: start;
  align-items: space-between;
  overflow: visible;
}
.personal{
  display: flex;
  position: relative;
  height: 800px;
  width: 100vw;
  flex-direction: column;
  align-items: end;
  overflow: hidden;
}
.personal1{
  z-index: 2;
  display: inline-block;
  position: relative;
  height: 50%;
  width: 45%;
  justify-content: right;
  text-align: right;
  color: var(--cc);
  letter-spacing: .5px;
  overflow: hidden;
  margin-right: var(--wid);
  mix-blend-mode: difference;
  font: var(--a4inter);
  /* border: 1px solid green; */
}
.personal1 p{
  margin-top: 20px;
  opacity: 1;
}
.personal2{
  /* z-index: 1000; */
  display: flex;
  position: absolute;
  height: 800px;
  width: 100%;
}
.personal2pic {
  display: flex;
  position: absolute;
  height: 100%;
  opacity: 1;
  top: 0;
  left: -80%;
  overflow: hidden;
  align-items: start;
  justify-content: start;
  transform-origin: top;
}
.personal2 img{
  object-fit: cover;
  height: 100%;
  overflow: hidden;
}
.personal2pic::before{
  content: "";
  z-index: 1;
  display: flex;
  position: absolute;
  height: 100px;
  width: 900px; 
  background: linear-gradient(
    rgba(243, 243, 240, 1),
    rgba(243, 243, 240, 0.2),
    rgba(243, 243, 240, 0)
      );
}
.wrapper {
  display: flex;
  position: relative;
  overflow: hidden;
  height: 900px;
  width: var(--width);
  justify-content: center;
  align-items: center;
  overflow: visible;
  margin: 30px var(--wid);
}
.gallery {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-around;
  height: 100%;
  width: var(--width);
  overflow: visible;
}
.g1 {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 2;
  transition: all 0.5s ease;
  transform-origin: center;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  width: auto;
  /* padding: 20px; */
  clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
}
.g1 img{
  display: flex;
  height: auto;
  object-fit: cover;
  transform-origin: center;
  /* transform: scale(1.1); */
}

.g1:nth-child(1){
  left: -25%;
  height: 320px;
  overflow: hidden;
  transform-origin: center;
}
.g1:nth-child(2){
  left: 20%;
  height: 260px;
  margin-top: 10px;
  overflow: hidden;
  transform-origin: center;
}
.g1:nth-child(3){
  height: 200px;
  overflow: hidden;
  transform-origin: center;
}
.middle {
  z-index: 998;
  pointer-events: none;
  /* overflow: hidden; */
}

.overlay4 {
  z-index: 100;
  position: fixed;
  inset: 0;
  background: var(--aa);
  background: rgba(246, 247, 242, 0.4); /* 建議降低透明度避免太暗 */
  backdrop-filter: blur(5px);
  overflow: hidden;
  height: 100dvh;
  width: 100vw;
  transition: all 0.6s ease;
}
.fade-overlay-enter-active, .fade-overlay-leave-active {
  transition: opacity 0.3s ease;
}
.fade-overlay-enter-from, .fade-overlay-leave-to {
  opacity: 0;
}
.fade-overlay-enter-to, .fade-overlay-leave-from {
  opacity: 1;
}

.pp5{
  display: flex;
  position: relative;
  height: 660px;
  width: 100vw;
  align-items: top;
  border-radius: 20rem 20rem 0 0;
  background-color: var(--aa);
  overflow: hidden;
  backdrop-filter: blur(10px);          /* 背景模糊 */
  -webkit-backdrop-filter: blur(20px);
  opacity: 0;
  pointer-events: none;
}
.p5 {
  display: none;
}
.mousew{
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 100vw;
  pointer-events: none;
  color: var(--cc);
  justify-content: end;
  align-items: center;
}
.mw1{
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  font-size: 12px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  overflow: visible;
  pointer-events: none;
}
#tree2{
  z-index: 100;
  display: flex;
  position: absolute;
  fill: var(--aa);
  stroke: #B0CCA2;
  stroke-width: 2px;
  top: -20px;
  right: -300px;
  height: 600px;
  pointer-events: none;
  transform: rotate(-20deg) translateY(-5%);
}
.mw2{
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.mw2 .root2{
  display: flex;
  height: 10%;
  width: 100%;
  fill: var(--bb);
  margin-bottom: 15%;
}
.mw2 .mw2w{
  display: flex;
  position: relative;
  height: 90%;
  width: var(--width);
  justify-content: space-between;
  align-items: end;
  color: var(--cc);
  font: var(--a4mono);
}
.contact{
  display: flex;
  position: relative;
  justify-content: end;
  align-items: start;
  pointer-events: auto;
  padding: 8px 0;
}
.mw2w h4{
  font-size: 24px;
  line-height: 1;
  color: var(--bb);
  font-family: "Sirivennela", sans-serif;
}
.cw p{
  display: flex;
  height: 100%;
  width: 90px;
  padding: 10px 15px;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  background-color: var(--bb);
  transition: all 0.6s ease;
  font-family: "Roboto Mono", monospace;
}
}